h1 {
  color: cyan;
}

li {
  color: red;
  text-decoration: none;
}

.text:hover {
  color: red;
  font-size: 50px;
}

.text:nth-of-type(2) {
  color: blue;
}

.text:last-of-type {
  color: green;
}

.text:first-of-type {
  color: yellow;
}
